$icon-font-name = 'vj4icon'


$icon-account--circle = '\EA01'
$icon-account--circle-file = 'account--circle.svg'

$icon-add = '\EA02'
$icon-add-file = 'add.svg'

$icon-award = '\EA03'
$icon-award-file = 'award.svg'

$icon-balloon = '\EA04'
$icon-balloon-file = 'balloon.svg'

$icon-block = '\EA05'
$icon-block-file = 'block.svg'

$icon-bold = '\EA06'
$icon-bold-file = 'bold.svg'

$icon-book = '\EA07'
$icon-book-file = 'book.svg'

$icon-calendar = '\EA08'
$icon-calendar-file = 'calendar.svg'

$icon-check--circle = '\EA09'
$icon-check--circle-file = 'check--circle.svg'

$icon-check = '\EA0A'
$icon-check-file = 'check.svg'

$icon-chevron_left = '\EA0B'
$icon-chevron_left-file = 'chevron_left.svg'

$icon-chevron_right = '\EA0C'
$icon-chevron_right-file = 'chevron_right.svg'

$icon-close--circle = '\EA0D'
$icon-close--circle-file = 'close--circle.svg'

$icon-close = '\EA0E'
$icon-close-file = 'close.svg'

$icon-code = '\EA0F'
$icon-code-file = 'code.svg'

$icon-comment--multiple = '\EA10'
$icon-comment--multiple-file = 'comment--multiple.svg'

$icon-comment--text = '\EA11'
$icon-comment--text-file = 'comment--text.svg'

$icon-comparison = '\EA12'
$icon-comparison-file = 'comparison.svg'

$icon-copy = '\EA13'
$icon-copy-file = 'copy.svg'

$icon-crown = '\EA14'
$icon-crown-file = 'crown.svg'

$icon-debug = '\EA15'
$icon-debug-file = 'debug.svg'

$icon-delete = '\EA16'
$icon-delete-file = 'delete.svg'

$icon-download = '\EA17'
$icon-download-file = 'download.svg'

$icon-edit = '\EA18'
$icon-edit-file = 'edit.svg'

$icon-emoji = '\EA19'
$icon-emoji-file = 'emoji.svg'

$icon-enlarge = '\EA1A'
$icon-enlarge-file = 'enlarge.svg'

$icon-erase = '\EA1B'
$icon-erase-file = 'erase.svg'

$icon-expand_less = '\EA1C'
$icon-expand_less-file = 'expand_less.svg'

$icon-expand_more = '\EA1D'
$icon-expand_more-file = 'expand_more.svg'

$icon-facebook = '\EA1E'
$icon-facebook-file = 'facebook.svg'

$icon-feeling-lucky = '\EA1F'
$icon-feeling-lucky-file = 'feeling-lucky.svg'

$icon-file = '\EA20'
$icon-file-file = 'file.svg'

$icon-filter = '\EA21'
$icon-filter-file = 'filter.svg'

$icon-fingerprint = '\EA22'
$icon-fingerprint-file = 'fingerprint.svg'

$icon-flag = '\EA23'
$icon-flag-file = 'flag.svg'

$icon-formula = '\EA24'
$icon-formula-file = 'formula.svg'

$icon-github = '\EA25'
$icon-github-file = 'github.svg'

$icon-global = '\EA26'
$icon-global-file = 'global.svg'

$icon-google_plus = '\EA27'
$icon-google_plus-file = 'google_plus.svg'

$icon-heart--outline = '\EA28'
$icon-heart--outline-file = 'heart--outline.svg'

$icon-heart = '\EA29'
$icon-heart-file = 'heart.svg'

$icon-help = '\EA2A'
$icon-help-file = 'help.svg'

$icon-help2 = '\EA2B'
$icon-help2-file = 'help2.svg'

$icon-homework = '\EA2C'
$icon-homework-file = 'homework.svg'

$icon-hourglass = '\EA2D'
$icon-hourglass-file = 'hourglass.svg'

$icon-info--circle = '\EA2E'
$icon-info--circle-file = 'info--circle.svg'

$icon-info = '\EA2F'
$icon-info-file = 'info.svg'

$icon-insert--image = '\EA30'
$icon-insert--image-file = 'insert--image.svg'

$icon-insert--link = '\EA31'
$icon-insert--link-file = 'insert--link.svg'

$icon-italic = '\EA32'
$icon-italic-file = 'italic.svg'

$icon-lab = '\EA33'
$icon-lab-file = 'lab.svg'

$icon-link--external = '\EA34'
$icon-link--external-file = 'link--external.svg'

$icon-link = '\EA35'
$icon-link-file = 'link.svg'

$icon-linkedin = '\EA36'
$icon-linkedin-file = 'linkedin.svg'

$icon-logout = '\EA37'
$icon-logout-file = 'logout.svg'

$icon-mail = '\EA38'
$icon-mail-file = 'mail.svg'

$icon-ordered_list = '\EA39'
$icon-ordered_list-file = 'ordered_list.svg'

$icon-pie-chart = '\EA3A'
$icon-pie-chart-file = 'pie-chart.svg'

$icon-platform--android = '\EA3B'
$icon-platform--android-file = 'platform--android.svg'

$icon-platform--chromeos = '\EA3C'
$icon-platform--chromeos-file = 'platform--chromeos.svg'

$icon-platform--ios = '\EA3D'
$icon-platform--ios-file = 'platform--ios.svg'

$icon-platform--linux = '\EA3E'
$icon-platform--linux-file = 'platform--linux.svg'

$icon-platform--mac = '\EA3F'
$icon-platform--mac-file = 'platform--mac.svg'

$icon-platform--mobile = '\EA40'
$icon-platform--mobile-file = 'platform--mobile.svg'

$icon-platform--unknown = '\EA41'
$icon-platform--unknown-file = 'platform--unknown.svg'

$icon-platform--windows = '\EA42'
$icon-platform--windows-file = 'platform--windows.svg'

$icon-play = '\EA43'
$icon-play-file = 'play.svg'

$icon-preview = '\EA44'
$icon-preview-file = 'preview.svg'

$icon-qq = '\EA45'
$icon-qq-file = 'qq.svg'

$icon-quote = '\EA46'
$icon-quote-file = 'quote.svg'

$icon-refresh = '\EA47'
$icon-refresh-file = 'refresh.svg'

$icon-reply = '\EA48'
$icon-reply-file = 'reply.svg'

$icon-schedule--fill = '\EA49'
$icon-schedule--fill-file = 'schedule--fill.svg'

$icon-schedule = '\EA4A'
$icon-schedule-file = 'schedule.svg'

$icon-search = '\EA4B'
$icon-search-file = 'search.svg'

$icon-security = '\EA4C'
$icon-security-file = 'security.svg'

$icon-send = '\EA4D'
$icon-send-file = 'send.svg'

$icon-settings = '\EA4E'
$icon-settings-file = 'settings.svg'

$icon-shrink = '\EA4F'
$icon-shrink-file = 'shrink.svg'

$icon-sliders = '\EA50'
$icon-sliders-file = 'sliders.svg'

$icon-stack = '\EA51'
$icon-stack-file = 'stack.svg'

$icon-star--outline = '\EA52'
$icon-star--outline-file = 'star--outline.svg'

$icon-star = '\EA53'
$icon-star-file = 'star.svg'

$icon-statistics = '\EA54'
$icon-statistics-file = 'statistics.svg'

$icon-stopwatch = '\EA55'
$icon-stopwatch-file = 'stopwatch.svg'

$icon-tag = '\EA56'
$icon-tag-file = 'tag.svg'

$icon-twitter = '\EA57'
$icon-twitter-file = 'twitter.svg'

$icon-unordered_list = '\EA58'
$icon-unordered_list-file = 'unordered_list.svg'

$icon-upload = '\EA59'
$icon-upload-file = 'upload.svg'

$icon-usb = '\EA5A'
$icon-usb-file = 'usb.svg'

$icon-user--multiple = '\EA5B'
$icon-user--multiple-file = 'user--multiple.svg'

$icon-user = '\EA5C'
$icon-user-file = 'user.svg'

$icon-vote--down = '\EA5D'
$icon-vote--down-file = 'vote--down.svg'

$icon-vote--up = '\EA5E'
$icon-vote--up-file = 'vote--up.svg'

$icon-warning = '\EA5F'
$icon-warning-file = 'warning.svg'

$icon-web = '\EA60'
$icon-web-file = 'web.svg'

$icon-wechat = '\EA61'
$icon-wechat-file = 'wechat.svg'

$icon-wrench = '\EA62'
$icon-wrench-file = 'wrench.svg'

